.android-large {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-large .overlap-group-wrapper {
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  background-image: url(/crime/static/img/5.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 360px;
  height: 800px;
}

.android-large .overlap-group {
  position: relative;
  width: 404px;
  height: 800px;
}

.android-large .maxresdefault {
  position: absolute;
  transform: rotate(0deg);
  width: 360px;
  height: 800px;
  top: 0;
  left: 0;
  mix-blend-mode: lighten;
  object-fit: cover;
}

.android-large .element-removebg-preview {
  position: absolute;
  width: 360px;
  height: 800px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.android-large .rectangle {
  width: 362px;
  height: 46px;
  top: 338px;
  left: 0;
  border: 1px solid;
  border-color: #ff0000;
  filter: blur(4px);
  mix-blend-mode: difference;
  position: absolute;
  background-color: #d9d9d9;
}

.android-large .text-wrapper {
  position: absolute;
  mix-blend-mode: darken;
  width: 362px;
  height: 46px;
  top: 338px;
  left: 0;
  position: absolute;
  border: 1px solid;
  border-color: #ff0000;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Lato";
  font-weight: 100;
  color: #000000;
  font-size: 20px;
  background-color: #d9d9d9;
  text-align: center;
}

.android-large .div {
  width: 362px;
  height: 46px;
  top: 400px;
  left: 0;
  border: 1px solid;
  border-color: #ff0000;
  filter: blur(4px);
  mix-blend-mode: difference;
  position: absolute;
  background-color: #d9d9d9;
}

.android-large .img {
  position: absolute;
  width: 202px;
  height: 110px;
  top: 580px;
  left: -35px;
  object-fit: cover;
}

.android-large .logo {
    width: 100px;
  }

.android-large .text-wrapper-2 {
  position: absolute;
  width: 114px;
  top: 160px;
  left: 250px;
  -webkit-text-stroke: 1px #ff0000;
  font-family: "Inter-BlackItalic", Helvetica;
  font-weight: 900;
  font-style: italic;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.android-large .text-wrapper-3 {
    position: absolute;
    mix-blend-mode: darken ;
    width: 362px;
    height: 46px;
    top: 400px;
    left: 0;
    position: absolute;
    border: 1px solid;
    border-color: #ff0000;
    text-shadow: 0px 4px 4px #00000040;
    -webkit-text-stroke: 1px #000000;
    font-family: "Lato";
    font-weight: 100;
    color: #000000;
    font-size: 20px;
    background-color: #d9d9d9;
    text-align: center;
}

.android-large .rectangle-2 {
  width: 172px;
  height: 35px;
  top: 462px;
  left: 190px;
  position: absolute;
  background-color: #d9d9d9;
}

.android-large .text-wrapper-4 {
  position: absolute;
  width: 172px;
  height: 35px;
  top: 462px;
  cursor: pointer;
  left: 190px;
  position: absolute;
  background-color: #d9d9d9;
  font-family: "Inter-BlackItalic", Helvetica;
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  font-weight: 900;
  font-style: italic;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
