  .navbar-brand img {
    width: 90px;
    height: 79px;
    margin-right: 20px; 
  }

  .navbar .profile {
    width: 90px;
    height: 79px;
    margin-right: -5px; 
  }

  .home-icon {
    width: 52px; 
    height: 52px; 
    margin-left: 3px;
}

.dash-icon{
    width: 60px; 
    height: 52px; 
    margin-left: 16px;
}

.emer-icon {
    width: 60px; 
    height: 52px; 
    margin-left: 16px;    
}

.navbar-nav .nav-item .nav-link {
    color: #fff; 
    margin-top: -10px;
}

.footer {
  color: #fff; 
  padding: 20px 0;
}

.sos-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FF6347; /* Red color for SOS */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sos-button:hover {
  background-color: #FF0000; /* Darker red on hover */
}

.navbar-brand,
.nav-link {
    font-size: 16px; /* Adjust as needed */
    font-family: Arial, sans-serif; /* Use your preferred font family */
    /* Other styling properties (color, weight, etc.) can also be applied here */
}

