<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="/crime/static/css/profile.css" />
</head>
<body>
  <div class="android-large">
    <div class="overlap-group-wrapper">
      <div class="overlap-group">
        <img class="maxresdefault" src="/crime/static/img/5.jpg" />
        <img class="element-removebg-preview" src="/crime/static/img/3logo.png" />
        <img class="profile" src="/crime/static/img/profile.png" />
        <div class="rectangle"></div>
        <div class="div"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-6"></div>
        <div class="rectangle-7"></div>
        <input type="text" class="text-wrapper" placeholder="Enter Your Age" />
        <input type="text" class="text-wrapper-2" placeholder="Enter Your Name" />
        <input type="text" class="text-wrapper-3" placeholder="Enter Your Address" />
        <input type="email" class="text-wrapper-4" placeholder="Enter Your E-mail" />
        <div class="text-wrapper-5">Profile</div>
        <button class="text-wrapper-6">Save</button>
        <button class="text-wrapper-7">Logout</button>
      </div>
    </div>
  </div>
</body>
</html>
